@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /*zoom: 135%;*/
}

@layer components {
  .rainbow-border {
    position: relative;
    padding: 1rem;
    z-index: 0;
  }

  .rainbow-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 0.5px; /* 边框宽度 */
    background: linear-gradient(45deg, blue, indigo, violet);
    /*noinspection CssInvalidPropertyValue,CssInvalidFunction*/
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
  }
}

:root {
  --header-height: 3.5rem; /* 默认 h-14 是 3.5rem */
}

@media (min-width: 1024px) {
  :root {
    --header-height: 60px; /* 在 lg 断点时的高度 */
  }
}

@font-face {
  font-family: 'NotoSansSC';
  /*noinspection CssUnknownTarget*/
  src: url('/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body * {
  font-family: 'NotoSansSC', sans-serif !important;
}

#root {
  height: 100vh;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 226 92% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 346 92% 47%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 226 92% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 346 92% 47%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
